[submodule ".config/fish/fish-kube-prompt"]
	path = fish/.config/fish/fish-kube-prompt
	url = https://github.com/aluxian/fish-kube-prompt
[submodule ".config/kitty/kitty-themes"]
	path = kitty/.config/kitty/kitty-themes
	url = https://github.com/dexpota/kitty-themes.git
